/* .A img
{   
    margin: 0px  0px 0px 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */
span{
    margin-right: 100px;
}
/* #A .text{
    position: relative;
    left:0;
    visibility: hidden;
}
#A:hover .text
{
    visibility: visible;
} */

h1{
    text-align: center;
    margin:0 5% 0 5%;

    text-transform: uppercase;
}

#wrapper .text {
    position:relative;
    visibility:hidden;
    margin-left: 50px;
    text-decoration: none;

    }
    
    #wrapper:hover .text
    {
        font-size: small;
        color:greenyellow;
        background:black ;
        border: 1px solid rgb(9, 255, 0);
    visibility:visible;
    }
    #wrapper img{
        height: 50px;
        width: 50px;
        margin-left: 50px;
        border-radius: 50%;
    }
#wrapper{
    margin-top: 3%;
}

  