
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
   <h1>distributor works</h1>
   <span>{{f|date:'yyyy-MM-dd'}}</span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    </div>

    <div id="wrapper">
     <img src="../assets/Images/profile.png" class="hover" (click)="on($event)"><p class="text" (click)="on($event)">Profile</p>
    </div>
    <div id="wrapper">
      <a class="nav-link" routerLink="/Distributor" ><img src="../assets/Images/orders.jpg"  class="hover"><p class="text">Products</p></a>
    </div>
    <div id="wrapper">
      <a class="nav-link" routerLink="/Distributor/purchase" ><img src="../assets/Images/purchase.jpg"  class="hover"><p class="text">Purchase</p></a>
    </div>
    <div id="wrapper">
      <a class="nav-link" routerLink="/Distributor/stock" ><img src="../assets/Images/stock.jpg"  class="hover"><p class="text">Stocks</p></a>
    </div>
    <a routerLink="/Distributor/siraj">SHIVA</a>
  </mat-toolbar>

  
 
 
