
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
   <h1>distributor works</h1>
   <span>{{f}}</span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    </div>

  </mat-toolbar>

  <div class="A">
    <!-- <button><mat-icon>perm_identity</mat-icon>Profile</button> -->



    <a class="nav-link" routerLink="/Distributor/profile" ><img src="../assets/Images/profile.png" (click)="log($event)">Profile</a>
    <a class="nav-link" routerLink="/Distributor" ><img src="../assets/Images/orders.jpg">Product</a>
    <a class="nav-link" routerLink="/Distributor/purchase" ><img src="../assets/Images/purchase.jpg">Purchase</a>
    <a class="nav-link" routerLink="/Distributor/stock" ><img src="../assets/Images/stock.jpg">Stock</a>


    <button (click)="onlog($event)">DIALOG</button>



  </div>
  
 
 
