<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
   <h1>distributor works</h1>
   <span>{{f}}</span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    </div>

  </mat-toolbar>

  <div class="A">
    <!-- <button><mat-icon>perm_identity</mat-icon>Profile</button> -->

    <a class="nav-link" routerLink="/Distributor/profile" ><img src="../assets/Images/profile.png">Profile</a><br>
    <a class="nav-link" routerLink="/Distributor/product" ><img src="../assets/Images/orders.jpg">Product</a><br>
    <a class="nav-link" routerLink="/Distributor/purchase" ><img src="../assets/Images/purchase.jpg">Purchase</a><br>
    <a class="nav-link" routerLink="/Distributor/stock" ><img src="../assets/Images/stock.jpg">Stock</a><br>
    <a class="nav-link" routerLink="/Distributor/profiless" ><img src="../assets/Images/profile.png">Profile</a><br>

    <img src="../assets/Images/profile.png">
        <!-- <ng-container matColumnDef="Manage">
            <th mat-header-cell *matHeaderCellDef >Manage</th>
            <td mat-cell *matCellDef="let row"><button class="btn btn-danger" style="margin-right: 10px;">Delete</button>
            <button class="btn btn-primary"  (click)="Edit(row)">Edit</button></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns">

        </tr> -->
    <button>
      profile
    </button><br>




  </div>
