<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>PROFILE</h2>
    <h1>{{CD | date: 'yyyy-MM-dd'}}</h1>
     <div fxLayout="row" fxShow="false" fxShow.gt-sm>
     </div>
 </mat-toolbar>
   
    <div>
        <label  >ID :</label>
        <input type="text"  [(ngModel)]="ID" readonly><br><br>

        <label for="fname">First Name</label>
        <input type="text"  [(ngModel)]="FirstName" readonly>

        <label for="userName">UserName :</label>
        <input type="text"  [(ngModel)]="UserName" readonly>

        
        <label >PhoneNumber</label>
        <input type="text"    [(ngModel)]="PhoneNumber" readonly>
      
       <label >TIN_No</label>
        <input type="text"   [(ngModel)]="TIN_No" readonly><br><br>
      
       <label >PAN_No</label>
       <input type="text"  [(ngModel)]="PAN_No" readonly><br><br>


       <label >Bank_Acc_No</label>
       <input type="text"  [(ngModel)]="Bank_Acc_No" readonly><br><br>   
      
       <label>IFSC_Code</label>
       <input type="text"  [(ngModel)]="IFSC_Code" readonly><br><br>   
      

    </div>
    
   

   

    

  
  