.A ,.f
{
    margin: 3% 10% 0 33%;

}
.f{
    margin-left: 43%;
}
h1{
    margin-bottom: 2%;
    font-weight: bold;
    color:black;   
}
.b img{
    height: 100px;
    width: 100px;

}
.g
{
    margin:20px 0 0 43%;
}