<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>{{currentDate}}</h1>
     <div fxLayout="row" fxShow="false" fxShow.gt-sm>
     </div>
 
   </mat-toolbar>
 

<div class="wrapper">
    <div class="logo">
        <img src="../assets/Images/profile.png">
    </div><br><br>
    <div class="text-center mt-4 name">
        Admin
    </div><br>
    <form [formGroup]="loginform">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username" formControlName="userName">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="password" formControlName="password">
        </div>

        <button class="btn mt-3" (click)="log()">Log</button>
        <div class="text-center fs-6">
            <a href="#">Forget password?</a> <!-- or <a href="#">Sign up</a> -->
       </div>
    </form>
    
          
   
</div>
