<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>PROFILE</h2>
    <h1>{{CD}}</h1>
     <div fxLayout="row" fxShow="false" fxShow.gt-sm>
     </div>
 
   </mat-toolbar>
   <form [formGroup]="salesInfo">
    <div class="class-Group">


      <label for="UserName">UserName</label>
      <input type="text" class="form-control" placeholder="Enter UserName" formControlName="UserName"><br><br>

      <label for="PhoneNumber">PhoneNumber</label>
      <input type="text" class="form-control" placeholder="Enter PhoneNumber" formControlName="PhoneNumber"><br><br>

      <label for="FirstName">FirstName</label>
      <input type="text" class="form-control" placeholder="Enter FirstName" formControlName="FirstName"><br><br>

      
      <label for="TIN_No">TIN_No</label>
      <input type="text" class="form-control" placeholder="Enter TIN_No" formControlName="TIN_No"><br><br>

      <label for="PAN_No">PAN_No</label>
      <input type="text" class="form-control" placeholder="Enter PAN_No" formControlName="PAN_No"><br><br>


      <label for="Bank_Acc_No">Bank_Acc_No</label>
      <input type="text" class="form-control" placeholder="Enter Bank_Acc_No" formControlName="Bank_Acc_No"><br><br>   
      
      <label for="IFSC_Code">IFSC_Code</label>
      <input type="text" class="form-control" placeholder="Enter IFSC_Code" formControlName="IFSC_Code"><br><br>   
      


    </div>      
   </form>
