h2{
    margin: 0 3% 0 0;
}
.Ajio
{
    overflow: hidden;
    float: right;
}
.kumar h3
{
    margin-left: 400px;
    
}
.kumar img
{
overflow: hidden;
float:right

}
.main
{
   
    border: 1px solid black;
}
.A{
    margin: 3% 4% 3% 8%;
    border: 2px solid black;
}
.harish
{
    margin-top: 3%;
}