<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>PURCHASES</h2>
    <h1>{{CD}}</h1>
     <div fxLayout="row" fxShow="false" fxShow.gt-sm>
     </div>
 
   </mat-toolbar>

   <div class="A">
    <dl>
      <dt>
        ID
      </dt>
      <dd>{{item.ID}}</dd>
      

      <dd> <b> Product Price   :</b>{{item.product_price}}</dd>
      <dd> <b>Shipping Cost    :</b>{{item.Shipping}}</dd>
      <dd> <b>GST              :</b>{{item.GST}}</dd>
      <dd> <b>delivery fee     :</b>{{item.delivery}}</dd>
      <dd> <b>Grand_Total fee  :</b>{{item.Grand_Total}}</dd>
    </dl>
   </div>
