/* .table th,td
{
    text-align: center;
}
.Search
{
    margin: 3%;

}
.table-responsive 
{
    margin: 3%;
    border: 1px solid black;
}
 th, td{
    border: 1px solid black;
    border-collapse: collapse;
} */
.mat-elvation-z8, .Search
{
    margin: 2% 2% 0 3%;
}