

<div class="A">

        
            <dl>
                <dt>ID</dt>
                <dd>{{item.imageID}}</dd>
              
                <dt>Category</dt>
                <dd>{{item.productFamily}}</dd>
                <dt>Product</dt>
                <dd>{{item.product}}</dd>
                <dt>Preview</dt>
                <dd><img src="data:image/png;base64,{{item.productImage1}}" style="height: 200px; width: 250px; margin-left: 30%;"></dd>


                <dt>Description</dt>
                <dd>{{item.Descriptions}}</dd><br>

                <dt>Price</dt>
                <dd>{{item.Price |  currency:'INR'}}</dd>
                <button type="button" class="btn btn-primary" style="margin: 20px;" (click)="Authorize(item.imageID)">Buy</button>

                <a [routerLink]="['/purchase',item.imageID]">{{item.imageID}}</a>
                <button type="button" class="btn btn-success" (click)="toggle()" style="margin-left: 20px;"> More</button>
                <div *ngIf="condition; then thenBlock"></div>
                    <ng-template #more>

                    <dt>Return </dt>
                    <dd>{{item.productret}}</dd><br>

                    <dt>Warranty</dt>
                    <dd>{{item.Warranty}}</dd> <br>


                    <dt>Seller-Info</dt>
                    <dd>{{item.Seller}}</dd><br>
                
                </ng-template>
                
               
            </dl>
<!-- <button type="button"  (click)="previous()" style="background-color:aqua; border: none; margin-left: 40%; margin-right: 25px;"><mat-icon>arrow_back_ios</mat-icon></button>
<button type="button"  (click)="next()" style="background-color:aqua; border: none; margin-right: 35%;"><mat-icon>arrow_forward_ios</mat-icon></button> -->

    
    
    
</div>
