
<app-home></app-home>

<div class="A">

        
            <dl>
                <dt>ID</dt>
                <dd>{{item.imageID}}</dd>
              
                <dt>Category</dt>
                <dd>{{item.productFamily}}</dd>
                
                <dt>Preview</dt>
                <dd><img src="data:image/png;base64,{{item.productImage1}}" style="height: 200px; width: 250px; margin-left: 30%;"></dd>


                <dt>Description</dt>
                <dd>{{item.Descriptions}}</dd>
             
               
            </dl>
<button type="button"  (click)="previous()" style="background-color:white; border: none; margin-left: 40%; margin-right: 25px;"><mat-icon>arrow_back_ios</mat-icon></button>
<button type="button"  (click)="next()" style="background-color:white; border: none; margin-right: 35%;"><mat-icon>arrow_forward_ios</mat-icon></button>

    
    
    
</div>
